.col-2,
.col-4,
.col-6,
.col-8,
.col-12,
.col-md-6,
.col-lg-4 {
    background-color: #062748;
    padding: 15px;
    height: 100%;
    margin-bottom: 10px;
}

.headerTitle,
.regularText,
.nav-link,
.footerText {
    color: aquamarine;
}
